.home-hero {
    padding: 40px 0 0 0;
    background-color: #191C24;
    color: #fff;

    @media screen {
        @media (max-width: 991px) {
            padding: 50px 30px;
            text-align: center;
        }

        @media (max-width: 575px) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    .container {
        @media screen {
            @media (min-width: 992px) {
                display: flex;
                align-items: center;
                gap: 0 45px; 
            }
        }
    }

    .details {
        flex-shrink: 0;
        
        @media screen {
            @media (min-width: 992px) {
                width: 43.6%;
            }

            @media (max-width: 991px) {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        h1 {
            margin: 0 0 37px 0;
            font-size: 40px;
            color: #fff;

            @media screen {
                @media (max-width: 1399px)  {
                    margin: 0 0 20px 0;
                    font-size: 36px;
                }

                @media (max-width: 575px) {
                    font-size: 33px;
                }
            }
        }  
        
        .sub-heading {
            margin: 0 0 45px 0;
            max-width: 100%;
            line-height: 50px;
            font-size: 30px;
            font-weight: 500;

            @media screen {
                @media (max-width: 1499px) {
                    font-size: 24px;
                    line-height: 36px;
                }

                @media (max-width: 1399px) {
                    font-size: 20px;
                    line-height: 1.5;
                }

                @media (max-width: 575px) {
                    font-size: 18px;
                }
            }
        }

        .trust-rating {
            font-weight: 500;
            font-size: 15px;

            .users-photos {
                gap: 0 8px;
                margin: 0 0 18px 0;

                @media screen {
                    @media (max-width: 991px) {
                        justify-content: center;
                    }
                }

                .list {
                    img {
                        user-select: none;
                        pointer-events: none;

                        &:not(:first-child) {
                            position: relative;
                            margin-left: -15px;
                            z-index: 1;
                        }
                    }
                }

                .amount {
                    font-size: 15px;
                    font-weight: 500;
                    color: #1F65E8;
                }
            }

            p {
                margin: 0 0 12px 0;

                @media screen {
                    @media (max-width: 991px) {
                        line-height: 1.5;
                    }
                }

                strong {
                    color: #1F65E8;
                    font-weight: 700;
                }
            }

            .rating-stars {
                display: flex;
                flex-direction: column;
                gap: 5px 0;
                font-size: 11px;

                img {
                    user-select: none;
                    pointer-events: none;
                }
            }
        }
    }

    .video-gallery {
        display: none;
        justify-content: flex-end;
        align-items: flex-end;
        width: 53.42%;
        user-select: none;
        pointer-events: none;

        @media screen {
            @media (min-width: 992px) {
                display: inline-flex;
            }
        }

        .list {
            position: relative;
            top: 4px;
            display: flex;
            align-items: flex-end;
            gap: 0 15px;

            .left-side, .right-side {
                flex-shrink: 0;

                video {
                    width: 100%;
                    max-height: 477px;
                    object-fit: cover;
                }

                &__video {
                    &:not(:last-child) {
                        margin-bottom: 17px;
                    }
                }
            }

            .left-side {
                width: 52.67%;

                &__video {
                    &:first-child {
                        video {
                            min-height: 477px;

                            @media screen {
                                @media (max-width: 1199px) {
                                    min-height: 400px;
                                }
                            }
                        }
                    }
                }
            }

            .right-side {
                width: 45.18%;

            }

            video {
                max-width: 100%;

                &:not(:last-child) {
                    margin-bottom: 20px;
                }
            }
        }
    }
}