.posts-grid {
    display: grid;
    
    &.grid-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
        gap: 37px 42px;

        @media screen {
            @media (max-width: 1199px) {
                gap: 30px;
            }

            @media (max-width: 991px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media (max-width: 768px) {
                gap: 20px;
            }

            @media (max-width: 660px) {
                grid-template-columns: auto;
                gap: 30px 0;
            }
        }
    }
}