.product-list {
    margin-bottom: 52px;
    
    &.grid-4 {
        display: grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        gap: 53px 43px;

        @media screen {
            @media (max-width: 1399px) {
                grid-template-columns: repeat(3, minmax(0, 1fr));
                gap: 25px;
            }

            @media (max-width: 1199px) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media (max-width: 540px) {
                grid-template-columns: auto;
            }
        }
    }

    &.list-view {
        display: flex;
        flex-direction: column;
        gap: 18px 0;

        .product-item {
            align-items: center;
            padding: 12px;
            gap: 0 40px;

            .product-image {
                margin: 0;

                @media screen {
                    @media (min-width: 1200px) {
                        width: 185px;
                        height: 185px;
                    }
                }
            }
        }
    }
}