.products-swiper {
    margin: 0 0 61px 0;

    .swiper-holder {
        @media screen {
            @media (max-width: 830px) {
                width: calc(100% + 30px);
                
                .swiper {
                    padding-right: 30px;
                }
            }

            @media (max-width: 768px) {
                width: calc(100% + 20px);
                
                .swiper {
                    padding-right: 20px;
                }
            }
        }
    }

    &.similar-products {
        margin-top: 50px;
    }

    .block-heading-holder {
        .swiper-nav {
            position: static;
        }
    }

    .product-item {
        height: 100%;
    }
}